/*
 * CSS File for the solution
 * Tutorial 06
 * There are no instructions for this one! You got this!
 */


html {
  font-size: 1.2rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  /* Flex directives */
  background: #ad5389;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
}
.card--container {
  display: flex;
  flex-direction: row;
  align-self: center;
  flex-wrap: nowrap;
  border-radius: 10px;
  min-width: 500px;
  max-width: 1000px;
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.3);
}
.card--image{
  width: 400px;
  align-self: stretch;
  object-fit: cover;
  object-position: center;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  margin: 0rem;
}
.content--top{
  display: flex;
  flex-direction: column;
  justify-content: justify;
  align-items: justify;
  padding: 1.4rem;
  background-color: white;
  border-top-right-radius:10px;
}
.content--bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  padding: 1.4rem;
  margin: 0rem;
  width: 100%;
  justify-content: space-between;
  border-bottom-right-radius: 10px;
  background-color: rgb(252, 216, 252);
}
.bottom-left{
  width: 70%;
}
.price{
  font-size: 2.5rem;
  color: black
}
.note{
  font-size: 0.7rem;
  color: grey;
}
.bottom-right{
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.button{
  background-color: #ad5389;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover{
  background-color: #3c1053;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
/* Price Section */
.price--note {
  margin: 0.5rem 0 0 0;
  font-size: 0.8rem;
  color:#777777;
}

/* Description Section */
.title {
  font-size: 2rem;
  font-weight: 800;
  margin: 0 0 0.5rem 0;
}

.description {
  font-size: 1.0rem;
  line-height: 1.3;
  color: #646464;
}